NODE_ENV=development
PORT=3000
PUBLIC_URL=http://localhost:3000
STORAGE_URL=http://localhost:9000/default # default is the bucket name specified in the STORAGE_BUCKET variable

DATABASE_URL=mongodb+srv://nityanandyadav2324:8plpJ6EJbDNnJrya@cluster0.yixel.mongodb.net/reactive-resume?retryWrites=true&w=majority

GEMINI_API_KEY=AIzaSyDUff6ZY7AgImzc-mSGlSp8KScQ3HpnQcc

ACCESS_TOKEN_SECRET=9439dab3723ea8aa05b2f47ac8d265432a26a6a366d82fc0e4b4cbe1e3498ff84061b7d458436a38d1fb9abe0d501cb29f802ecead406318ef0b14201a274a5a
REFRESH_TOKEN_SECRET=8cc7291378b9fa0f3dd3c04f21f9573184cfa2f8a571c012db7e5ee8ae9d9b79d54f83dd665273c30b49cc8a56d11a29b2e7d079cc28fe11f79cdebff9570f79

# Chrome Browser (for printing)
# generated with `openssl rand -hex 32`
CHROME_PORT=8080
CHROME_TOKEN=chrome_token
CHROME_URL=ws://localhost:8080
# Launch puppeteer with flag to ignore https errors
CHROME_IGNORE_HTTPS_ERRORS=true

# Mail Server (for e-mails)
# For testing, you can use https://ethereal.email/create
MAIL_FROM=noreply@localhost
# SMTP_URL=smtp://username:password@smtp.ethereal.email:587

# Storage
STORAGE_ENDPOINT=localhost
STORAGE_PORT=9000
STORAGE_REGION=us-east-1
STORAGE_BUCKET=default
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_USE_SSL=false
STORAGE_SKIP_BUCKET_CHECK=true

# Nx Cloud (Optional)
# NX_CLOUD_ACCESS_TOKEN=



# Feature Flags (Optional)
# DISABLE_SIGNUPS=false
# DISABLE_EMAIL_AUTH=false

# GitHub (OAuth, Optional)
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# GITHUB_CALLBACK_URL=http://localhost:5173/api/auth/github/callback

# Google (OAuth, Optional)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:5173/api/auth/google/callback

# OpenID (Optional)
# VITE_OPENID_NAME=
# OPENID_AUTHORIZATION_URL=
# OPENID_CALLBACK_URL=http://localhost:5173/api/auth/openid/callback
# OPENID_CLIENT_ID=
# OPENID_CLIENT_SECRET=
# OPENID_ISSUER=
# OPENID_SCOPE=openid profile email
# OPENID_TOKEN_URL=
# OPENID_USER_INFO_URL=
